@media screen and (max-width: 350px) {
  .form-container {
    width: 60%;
  }

  .modal-text {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .form-container {
    width: 100%;
  }
}
