.container {
  margin: auto;
  width: 60%;
  padding: 30px;
}

form {
  line-height: 20px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.submit-btn {
  text-align: center;
}

.header {
  display: flex;
  background-color: #343a40;
  color: white;
  border: 2px solid;
  padding: 1px;
  margin: -2px;
}

h2 {
  padding-left: 25px;
}

#running-man {
  color: white;
  padding-left: 7px;
  font-size: 29px;
  padding-top: 20px;
}
